.top_bar {
    background: #EAEDF1;
    border-bottom: 2px solid #474aff;
    box-shadow: 0 0 8px rgba(79, 88, 255, 0.4); 
    height: clamp(1.3rem, 2.7rem, 5rem);
    width: 100%;
}

.menu {
    position: relative;
    width: 45px;
    height: 7px;
    background-color: #474aff;
    border-radius: 18px;
    top: 6px;
    margin-left: 8px;
}
.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #474aff;
    border-radius: 18px;
}
.menu::before {
    top: 12px;
}
.menu::after {
    top:24px;
}

.dropdown {
  position: absolute;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #c7cbfd
  );
  border-right: 0px solid #474aff;
  border-bottom: 0px solid #474aff;
  box-shadow: 0 0 0cap rgba(79, 103, 255, 0);
  height: 0px;
  width: 17rem;
  margin-top: 45px;
  margin-left: 0px;
  top: 0;
  border-bottom-right-radius: 15px;
  transition: 
    height 0.3s ease, 
    box-shadow 0.25s ease, 
    border-right 0.25s ease, 
    border-bottom 0.25s ease;
}
.dropdown.active {
  height: 25rem;
  box-shadow: 0 0 6px rgba(79, 102, 255, 0.7);
  border-right: 2px solid #474aff;
  border-bottom: 2px solid #474aff;
}