.top_bar {
    background: #EAEDF1;
    border-bottom: 4px solid #474aff;
    box-shadow: 0 0 8px rgba(79, 88, 255, 0.4); 
    height: clamp(2.3rem, 5rem, 7rem);
    width: 100%;
}

.menu {
    position: relative;
    width: 87px;
    height: 13px;
    background-color: #474aff;
    border-radius: 18px;
    top: 15px;
    margin-left: 15px;
}
.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #474aff;
    border-radius: 18px;
}
.menu::before {
    top: 23px;
}
.menu::after {
    top:46px;
}

.dropdown {
  position: absolute;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #c7cbfd
  );
  border-right: 0px solid #7045f5;
  border-bottom: 0px solid #7045f5;
  box-shadow: 0 0 0cap rgba(79, 103, 255, 0);
  height: 0px;
  width: 30rem;
  margin-top: 94px;
  margin-left: 0px;
  top: 0;
  border-bottom-right-radius: 25px;
  transition: 
    height 0.3s ease, 
    box-shadow 0.25s ease, 
    border-right 0.25s ease, 
    border-bottom 0.25s ease;
}
.dropdown.active {
  height: 50rem;
  box-shadow: 0 0 6px rgba(79, 102, 255, 0.7);
  border-right: 4px solid #7045f5;
  border-bottom: 4px solid #7045f5;
}