.centered
{
    text-align: center;
}
.bluetext
{
    color:#4d85ff;
}
.whitetext
{
    color:#ffffff;
}
.blacktext
{
    color:#110500;
}
.redtext
{
    color:#e62062;
}
.redback
{
    background-color: #e62062;
}
.whiteback
{
    background-color: #ffffff;
}
.blueback
{
    background-color: #4d85ff;
}