/* MAIN PAGE -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Debug ---------------------------------*/
html, body {
  margin: 0;
  height: 100%;
}
.scene {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: block;
}
.scene2 {
  position: relative;
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: block;
}
.container {
  position: absolute;
  inset: 0;
  z-index: -1;

}
.ui {
  position: relative;
  z-index: 10;
}

ul {
  list-style-type: none;
}
/*General --------------------------------------*/
.centered { text-align: center; }
.bluetext { color:#474aff; }
.whitetext { color:#ffffff;}
.blacktext { color:#110500; }
.redtext { color:#e62062; }
.purpletext { color: #7045f5; }
.greytext { color: #aeb2b6; }

.redback { background-color: #e62062; }
.whiteback { background-color: #ffffff; }
.blueback { background-color: #474aff; }
.purpleback { background-color: #7045f5; }
.greyback { background-color: #aeb2b6; }
/* Downloaded fonts from Google Fonts */
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/*Top Down -------------------------------------------------*/
/*Menu*/
.menu_bounding_box {
    position: relative;
    width: 120px;
    height: 90px;
    top: 0px;
    margin-left: 0px;
    background-color: #00000000;
    cursor: pointer;
    transition: 
      transform 0.25s ease, 
      rotate 0.25s ease;
}
.menu_bounding_box.active {
    transform: scale(0.85);
    rotate: 90deg;
}
.menu_bounding_box.active:hover {
    transform: scale(0.92);
    rotate: 90deg;
}
.menu_bounding_box:hover {
    transform: scale(1.1);
}
/*Dropdown menu*/
.login {
  position: absolute;
  margin-left: 3960px;
  font-size: 2.2rem;
  margin-top: -70px;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.25s ease;
  cursor:pointer;
}
.login:hover {
  transform: scale(1.1);
}
.star {
  height: 5rem;
  width: 4.5rem;
  margin-top: -100px;
  margin-left: 3870px;
  background: #00ff0400;
  color: #B7BBBF;
  font-size: 4.5rem;
  transform: scale(1);
  transform-origin: center;
  transition: color 0.15s ease, transform 0.25s ease;
  cursor:pointer;
}
.star:hover {
  transform: scale(1.1);
}
.star.active {
  color: #ffcc00;
  transform: scale(1.1);
}
.star:hover.active {
  transform: scale(1.15);
}

/*Main title*/
.large_title {
  font-size:17rem;
  top: 0px;
  margin-top: 0px;
  cursor: default;
}
.medium_title {
  font-size:10rem;
  top: 0px;
  margin-top: 0px;
  cursor: default;
}
.small_title {
  font-size:7rem;
  top: 0px;
  margin-top: 0px;
  cursor: default;
}
.smaller_title {
  font-size:5rem;
  top: 0px;
  margin-top: 0px;
  cursor: default;
}
/*Interactivity - Hover -------------------------------------------------*/
/*Dropdown Menu*/

/*Select bar*/
.error {
  margin-left: 3800px;
  font-size: 2rem;
  margin-top: 20px;
  text-align: right;
  padding-right: 20px;
}
.favourites {
  position: absolute;
  font-size: 2.2rem;
  margin-top: -70px;
  margin-left: 200px;
  word-spacing: 100px;
  cursor: default;
  transform-origin: center;
  transition: transform 0.25s ease;
}
.favourite {
  display: inline-block;
  transform-origin: center;
  transform: scale(1);
  cursor:pointer;
  transition: transform 0.25s ease;
}

.favourite:hover {
  transform: scale(1.1);
}

.blank {
  width: 100%;
  height: 500px;
  margin-top: 2000px;
  background: #ffffff;
  z-index: 9;
  position: relative;
}
.footer {
  width: 100%;
  height: 800px;
  margin-top: 500px;
  background: #474aff;
  z-index: 9;
  position: relative;
}

footer {
  background: #474aff;
}
