.select_bar {
  width: 1995px;
  height: 157.5px;
  background: linear-gradient(
    to right,
    #f5f6fe,
    #c7a2f8
  );
  border: 4px solid #7045f5;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);
  border-radius: 120px;
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  top: 60px;
  cursor: pointer;
  transform-origin: top;
  transition: 
    box-shadow 0.15s ease, 
    transform 0.25s ease, 
    height 0.25s ease;
}
.label {
  position: absolute;
  top: 0;
  margin-top: 15px;
  margin-left: 180px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #b89fea;
  font-size: 5rem;
  transition: 
    color 0.25s ease;
  cursor:pointer;
}
.circle_icon {
  width: 157.5px;
  height: 157.5px;
  background: linear-gradient(
    to bottom,
    #8446ef,
    #9764fc
  );
  color: white;
  border-radius: 120px;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  margin-left: 0px;
  font-size: 70px;
  transform-origin: top;
  transition: 
    transform 0.25s ease, 
    box-shadow 0.25s ease, 
    height 0.25s ease, 
    border-radius 0.25s ease;
}
/* From https://css-shape.com */
.down_arrow_icon {
  --t: 45%;
  --h: 40%;
  aspect-ratio: 2/3;
  height: 125px;
  background: linear-gradient(
    to bottom,
    #dcc7fd,
    #ffffff
  );
  clip-path: 
    polygon(calc(50% - var(--t)/2) 0,
    calc(50% - var(--t)/2) calc(100% - var(--h)),0 calc(100% - var(--h)),50% 100%,
    100% calc(100% - var(--h)),calc(50% + var(--t)/2) calc(100% - var(--h)),
    calc(50% + var(--t)/2) 0
    );
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 15px;
  margin-right: 5px;
  rotate: -180deg;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);
  transition: 
    transform 0.25s ease, 
    rotate 0.25s ease, 
    box-shadow 0.25s ease, 
    margin-top 0.25s ease;
}
/*Inside select bar*/
.chem_bar {
  width: 1800px;
  height: 0px;
  background: linear-gradient(
    to right,
    #f9f5fd,
    #c9b2f4
  );
  border: 0px solid #7145f500;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);
  border-radius: 120px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 175px;
  top: 0;
  cursor: pointer; 
  transition: 
    height 0.1s ease, 
    border 0.01s ease, 
    box-shadow 0.25s ease, 
    transform 0.25s ease;
}
.label_chem {
  position: absolute;
  top: 0;
  margin-top: 0px;
  margin-left: 31px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #7145f500;
  font-size: 5rem;
  transition-delay: 0.05s;
  transform-origin: left;
  transition: 
    color 0.25s ease, 
    transform 0.25s ease,
    margin-top 0.25s ease;
  cursor:pointer;
}


.select_bar:hover {
  box-shadow: 
    0 0 6px rgba(149, 79, 255, 0.7),
    0 0 18px rgba(120, 79, 255, 0.4); 
  transform: translateY(-1px);
}
.select_bar.active {
  box-shadow: 
    0 0 6px rgba(135, 79, 255, 0.7),
    0 0 18px rgba(149, 79, 255, 0.4); 
  transform: translateY(-1px);
  height: 630px;
}
.select_bar:hover .label {
  color: #7045f5;
}
.select_bar:hover .circle_icon {
  transform: scale(1.01);
  box-shadow: 
    0 0 8px rgba(149, 79, 255, 0.3);
}
.label.active {
  color: #7045f5;
}
.circle_icon.active {
  transform: scale(1.05);
  box-shadow: 
    0 0 8px rgba(79, 102, 255, 0.3);
  height: 600px; 
}
.down_arrow_icon.active {
  transform: scale(1.00);
  rotate: 0deg;
  box-shadow: 0 0 6px rgba(79, 102, 255, 0.7);
  margin-top: 15px;
}
.chem_bar.active {
  height: 120px;
  border: 4px solid #7045f5;
}
.label_chem.active {
  color: #987bee;
  margin-top: 0px;
}
.chem_bar.active:hover {
  box-shadow: 
    0 0 6px rgba(126, 79, 255, 0.7),
    0 0 18px rgba(135, 79, 255, 0.4); 
  transform: translateY(-1px);
}
.chem_bar.active:hover .label_chem.active{
  color: #7045f5;
  margin-top: 0px;
  transform: scale(1.05);
}
.chem_bar1 {
  margin-top: 120px;
}
.chem_bar2 {
  margin-top: 260px;
}
