{% extends "layout_fav.html" %}

{% block style %}
    <link href="/static/css/style.main.css" rel="stylesheet">
    <link href="/static/css/menus/login.style.menus.css" rel="stylesheet">
    <link href="/static/css/colour/chemistry.style.colour.css" rel="stylesheet">
    <link href="/static/css/other/3dscene.style.css" rel="stylesheet">
    <link href="/static/css/other/chem1.style.css" rel="stylesheet">
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
{% endblock %}
{% block title %}
    Chemistry Tool 1:
{% endblock %}

        {% block dropdown %}  
        <div class="dropdown ui drop">
            <ul class="dropdown_list">
                <li>
                    <div class="blue_text_bounding_box drop" id="home_box">
                        <div class="dropdown_item_blue fontmain bluetext drop">HOME</div>
                        <div class="blue_checkbox drop">
                            <div class="blue_tick_icon drop"></div>
                        </div>
                    </div>
                </li>
                <script>
                    document.getElementById("home_box").addEventListener('click', function() {
                        window.location.href = "/";
                    })
                </script>
                <li>
                    <div class="purple_text_bounding_box drop" id="chemistry_box">
                        <div class="dropdown_item_purple fontmain purpletext drop">CHEMISTRY</div>
                        <div class="purple_checkbox drop">
                            <div class="purple_tick_icon drop"></div>
                        </div>
                    </div>
                </li>
                <script>
                    document.getElementById("chemistry_box").addEventListener('click', function() {
                        window.location.href = "/chemistry";
                    })
                </script>
            </ul>
        </div>
        {% endblock %}
        {% block route %}
        "/chem1"
        {% endblock %}

    {% block main %}
        <div class="purpletext fontbold large_title"></div>

        <canvas id="scene" class="main_scene"></canvas>
        <div class="ui">
            <ul>
                <li>
                    <select id="molecule_choice" class="molecule_choice fontmain purpletext">
                        <option id="CH4" value="CH4">Methane (CH₄)</option>
                        <option id="CH3F" value="CH3F">Fluoromethane (CH₃F)</option>
                    </select>
                </li>
                <li>
                    <div class="slider_container" id="slider_container">
                        <!-- Input range type found via: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/range -->
                        <input type="range" id="opacity_slider" class="opacity_slider"min="0" max="100" value="75"></input>
                        <span class="fontmain whitetext slider_text_w" id="slider_text_w">Opacity: 75%</span>
                        <span class="fontmain purpletext slider_text_p" id="slider_text_p">Opacity: 75%</span>
                    </div>
                </li>
                <li>
                    <div class="toggle_btn list_item_btn1" id="toggle_btn1">
                        <div class="toggle_btn_tick_icon" id="toggle_btn_tick_icon1"></div>
                        <div class="btn_text fontmain purpletext">Show Influence Spheres</div>
                    </div>
                </li>
                <li>
                    <div class="toggle_btn list_item_btn2" id="toggle_btn2">
                        <div class="toggle_btn_tick_icon" id="toggle_btn_tick_icon2"></div>
                        <div class="btn_text fontmain purpletext">Colour spheres by hue</div>
                    </div>
                </li>
                <li>
                    <div class="toggle_btn list_item_btn3" id="toggle_btn3">
                        <div class="toggle_btn_tick_icon" id="toggle_btn_tick_icon3"></div>
                        <div class="btn_text fontmain purpletext">Colour spheres by value</div>
                    </div>
                </li>
            </ul>
        </div>
        <script type="module" src="static/js/chem1.scene.js"></script>

    {% endblock %}