{% extends "layout_nofav.html" %}

{% block style %}
    <link href="/static/css/style.main.css" rel="stylesheet">
    <link href="/static/css/menus/login.style.menus.css" rel="stylesheet">
    <link href="/static/css/other/login.style.form.css" rel="stylesheet">
    <link href="/static/css/colour/index.style.colour.css" rel="stylesheet">
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
{% endblock %}
{% block title %}
    Login:
{% endblock %}

        {% block dropdown %}  
        <div class="dropdown ui drop">
            <ul class="dropdown_list">
                <li>
                    <div class="blue_text_bounding_box drop" id="home_box">
                        <div class="dropdown_item_blue fontmain bluetext drop">HOME</div>
                        <div class="blue_checkbox drop">
                            <div class="blue_tick_icon drop"></div>
                        </div>
                    </div>
                </li>
                <script>
                    document.getElementById("home_box").addEventListener('click', function() {
                        window.location.href = "/";
                    })
                </script>
                <li>
                    <div class="purple_text_bounding_box drop" id="chemistry_box">
                        <div class="dropdown_item_purple fontmain purpletext drop">CHEMISTRY</div>
                        <div class="purple_checkbox drop">
                            <div class="purple_tick_icon drop"></div>
                        </div>
                    </div>
                </li>
                <script>
                    document.getElementById("chemistry_box").addEventListener('click', function() {
                        window.location.href = "/chemistry";
                    })
                </script>
            </ul>
        </div>
        {% endblock %}

    {% block main %}
        <div class="bluetext fontbold medium_title">
            LEARNING.VFX
        </div>
        <div class="bluetext fontbold small_title">
            LOGIN
        </div>

        <canvas id="scene" class="scene"></canvas>
        <script type="module" src="static/js/index.scene.js"></script>

        <div class="ui">
            <form action="/login" method="post">
                <div class="form">
                    <input autocomplete="off" class="form_input fontmain bluetext" name="username" placeholder="USERNAME" type="text">
                </div>
                <div class="form">
                    <input class="form_input fontmain bluetext" name="password" placeholder="PASSWORD" type="password">
                </div>
                <button class="button whitetext fontmain" type="submit">LOGIN</button>
            </form>
            <div class="register_btn fontmain greytext">No account? Click <span class="here" id="here" >HERE</span> to register.</div>
            <script>
                document.getElementById("here").addEventListener('click', function() {
                    window.location.href = "/register";
                })
            </script>
            <div class="problem fontmain redtext">{{ problem }}</div>
            <!-- style="display: inline" from https://stackoverflow.com/questions/1826735/how-do-i-prevent-div-tag-starting-a-new-line -->
    {% endblock %}