.main_scene {
    position: fixed;
    inset: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: block;
    margin-top: clamp(1.5rem, 2.8rem, 5.1rem);
}
.scene {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: block;
}
