.toggle_btn {
  width: 50px;
  height: 50px;
  background-color: #474aff00;
  border: 4px solid #7045f5;
  position: absolute;
  top:0;
  margin-left: -15px;
  border-radius: 12px;
  transform: scale(1);
  transition: 
    background-color 0.15s ease-in, 
    transform 0.25s ease;
}
.toggle_btn:hover {
  transform: scale(1.1);
}
.toggle_btn.active {
    background-color: #7145f5;
}
.toggle_btn_tick_icon {
  height: 35px;
  width: 12px;
  margin-left: 12.5px;
  border-bottom: 10px solid #ffffff00;
  border-right: 10px solid #ffffff00;
  transform: rotate(45deg) translateY(-2px);
  top: 0;
  position: absolute;
  transition: 
    border 0.02s ease-in;
}
.toggle_btn_tick_icon.active {
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}
.list_item_btn1 {
    margin-top: 170px
}
.list_item_btn2 {
    margin-top: 250px;
}
.list_item_btn3 {
    margin-top: 330px;
}

.molecule_choice {
    position: absolute;
    border: 4px solid #7045f5;
    margin-left:25px;
    text-align: left;
    left:0;
    width: 400px;
    height: 70px;
    font-size: 2rem;
    border-radius: 12px;
    appearance: none;
    padding-left: 12px;
}
.slider_container {
    position: absolute;
    border: 4px solid #7045f5;
    background: linear-gradient(
        to right,
        #7045f5 65%,
        #ffffff 65%
    );
    margin-left:25px;
    text-align: left;
    left:0;
    border-radius: 12px;
    width: 400px;
    height: 50px;
    margin-top: 90px;
    z-index: 10;
}
.opacity_slider {
    appearance: none;
    outline: none;
    width: 420px;
    height: 50px;
    background-color: #ffffff00;
    margin-left:-10px;
}

.opacity_slider::-webkit-slider-thumb {
    appearance:none;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border: 4px solid #7045f5;
    border-radius: 12px;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.25s ease;
    z-index: 10;
}

.opacity_slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.slider_text_w {
    font-size: 1.8rem;
    position: absolute;
    margin-top:-50px;
    margin-left:10px;
    z-index: 1;
    pointer-events: none;
}
.slider_text_p {
    font-size: 1.8rem;
    position: absolute;
    margin-top:-50px;
    margin-left:196px;
    width:200px;
    z-index: 0;
    pointer-events: none;
}
.btn_text {
    width: 500px;
    margin-left: 70px;
    font-size: 2rem;
    text-align: left;
}
.drop_ui {
    z-index: 12;
}