.toggle_btn {
  width: 45px;
  height: 45px;
  background-color: #474aff00;
  border: 4px solid #7045f5;
  position: absolute;
  top:0;
  margin-left: 14px;
  border-radius: 12px;
  transform: scale(1);
  transition: 
    background-color 0.15s ease-in, 
    transform 0.25s ease;
}
.toggle_btn:hover {
  transform: scale(1.1);
}
.toggle_btn.active {
    background-color: #7145f5;
}
.toggle_btn_tick_icon {
  height: 30px;
  width: 12px;
  margin-left: 10px;
  border-bottom: 10px solid #ffffff00;
  border-right: 10px solid #ffffff00;
  transform: rotate(45deg) translateY(-2px);
  top: 0;
  position: absolute;
  transition: 
    border 0.02s ease-in;
}
.toggle_btn_tick_icon.active {
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}
.list_item_btn1 {
    margin-top: 100px;
}
.list_item_btn2 {
    margin-top: 200px;
}